src/main/app/mule-coap-client-examples.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:coap-client="http://www.mulesoft.org/schema/mule/coap-client" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/coap-client http://www.teslanet.nl/schema/mule/coap-client/1.0/mule-coap-client.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <coap-client:config name="my_CoAP_Client" host="coap.me" doc:name="CoAP Client: Configuration" ackTimeout="1000" />
    <coap-client:config name="my_Secured_Client" host="127.0.0.1" keyStoreLocation="keyStore.jks" keyStorePassword="endPass" privateKeyAlias="client" trustStoreLocation="trustStore.jks" trustStorePassword="rootPass" trustedRootCertificateAlias="root" doc:name="CoAP Client: Configuration" />
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration" />
    <apikit:config name="Router" raml="coapclient.raml" consoleEnabled="true" consolePath="console" keepRamlBaseUri="false" doc:name="Router" />
    <flow name="mule-coap-client-examplesFlow">
        <coap-client:handle-response config-ref="my_CoAP_Client" handlerName="/" doc:name="CoAP Client (Streaming)" />
        <coap-client:get config-ref="my_CoAP_Client" path="/" doc:name="CoAP Client" />
    </flow>
    <flow name="mule-coap-client-examplesFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/*" doc:name="HTTP" />
        <apikit:router config-ref="Router" doc:name="APIkit Router" />
    </flow>
    <flow name="get:/coapclient/discover:Router">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <coap-client:discover config-ref="my_CoAP_Client" doc:name="CoAP Client"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
    <flow name="get:/coapclient/ping:Router">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <coap-client:ping config-ref="my_CoAP_Client" path="/" doc:name="CoAP Client"/>
        <choice doc:name="Choice">
            <when expression="#[ payload == true ]">
                <set-payload value="&lt;html&gt;&lt;body&gt;
Ping succeeded!
&lt;/body&gt;&lt;/html&gt;" mimeType="text/xhtml" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <set-payload value="&lt;html&gt;&lt;body&gt;
Ping failed!
&lt;/body&gt;&lt;/html&gt;" mimeType="text/xhtml" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
</mule>
