src/main/app/mule-coap-client-discovery-examples.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:coap-client="http://www.mulesoft.org/schema/mule/coap-client" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
	http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/coap-client http://www.teslanet.nl/schema/mule/coap-client/1.0/mule-coap-client.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
	http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
	http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	
	<flow name="get:/coapclient/discovery/discover:Router">
		<set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
		<coap-client:discover config-ref="my_CoAP_Client" doc:name="CoAP Discover"/>
		<foreach collection="#[payload]" doc:name="For Each">
			<logger message="#[payload.getURI()]" level="INFO" doc:name="Logger"/>
		</foreach>
		<object-to-string-transformer doc:name="Object to String"/>
	</flow>

	<flow name="get:/coapclient/discovery/ping:Router">
		<set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
		<coap-client:ping config-ref="my_CoAP_Client" path="/" doc:name="CoAP Ping"/>
		<choice doc:name="Choice">
			<when expression="#[ payload == true ]">
				<set-payload value="Ping succeeded!" mimeType="text/plain" doc:name="Success"/>
			</when>
			<otherwise>
				<set-payload
					value="&lt;html&gt;&lt;body&gt; Ping failed! &lt;/body&gt;&lt;/html&gt;"
					mimeType="text/plain" doc:name="Fail"/>
			</otherwise>
		</choice>
	</flow>

</mule>
